/* Imports */
// Frameworks

// Definings
@import "_reset.scss";
@import "_variables.scss";

// Global Styles
@import "_globals.scss";

// Page Specifics
@import "pages/_about_us.scss";

// Mixins
@import "_mixins.scss";
/* End of Imports */

body {
	font-family: 'Playfair Display', serif;
	background-image: url("images/bg2.png");
}

/* Main Styles */
#landingScreen {
	position: relative;
	text-align: center;
	margin: 0 auto;
	height: 100vh;
	background: $primary-color;
	h1 {
		margin-top: 25vh;
		// text-decoration: underline;
		color: $landing-page-font-color;
		font-size: 6em;
	}
	h2 {
		margin-top: 10px;
		color: $landing-page-font-color;
		font-size: 2em;
		overflow: hidden;
	}
	h3 {
		margin-top: 15px;
		color: $landing-page-font-color;
		font-size: 1em;
		overflow: hidden;
	}
	@media (max-width: 480px) {
		h1 {
			font-size: 4.2em;
		}
		h2 {
			font-size: 1.3em;
		}
	}
	#landing-page-footer {
		position: absolute;
		left: 48%;
		#footer-button {
			position: relative;
			left: -50%;
		}
		button {
			background: none;
			border: none;
			width: 0;
			height: 0;
			outline: 0;
		}
		span {
			font-size: 1.2em;
			top: 30vh;
			color: $landing-page-font-color;
			@media (max-width: 480px) {
				top: 30vh;
				left: -2vw;
			}
		}
		p {
			color: $landing-page-font-color;
			margin-top: -60px;
		}
	}
}

#navbar-main {
	width: 100%;
	display: none;
	border-radius: 0;
	text-align: center;
	opacity: 0.8;
	.navbar-nav {
		width: 100%;
		> li {
			float: none;
			display: inline-block;
		}
	}
}

#content-main {
	display: none;
	width: 80vw;
	margin-top: 70px;
	margin-bottom: 20px;
	background: #F3F3F3;
	box-shadow:0 0 20px black;
	@media (max-width: 480px) {
		width: 100vw;
	}
	a {
		text-decoration: none;
	}
	h1 {
		padding-top: 40px;
		text-align: center;
		font-size: 2em;
	}
	p {
		padding-top: 20px;
	}
	.col-md-4 {
		height: 200px;
	}
	.row {
		margin-left: 10px;
		margin-right: 10px;
	}
}

.clear {
	clear: both;
}

.center {
	margin-left: auto;
	margin-right: auto;
}
/* End of Main Styles */